{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true //eslint가 jsx 사용을 허용하는 설정
        }
    }, 
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
        //"airbnb",
    ],
    "plugins" : [ //react가 기본적으로 import, export, hooks를 지원하지 않기 때문에 플러그인을 추가로 설치해줌.
        "import", //import, export 가능하게 해주는 문법
        "react-hooks"
    ],
    // "rules": {
    //     "no-underscore-dangle":"off", //이렇게 하면 더이상 경고를 안한다. 
    //     "react/forbid-prop-types": 0 //"off"대신에 0을 사용해도 된다.
    // }
}